.navbar {
    margin: 20px;
    background-image: url("dot-grid.png");
    color: black;
    margin: 20px;
    border: 10px double #e0d794;
    padding: 20px;
    font-family: 'Athiti', sans-serif;


}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}

body {
    background-image: url("dot-grid.png");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin: 20px;
      border: 10px double gold;
      padding: 20px; */
  }

  #nasty {
      margin: 20px;
      margin-top: 100px;;
      border: 10px double #e0d794;
      /* border-style: solid; */
      padding: 20px;
      font-family: 'Athiti', sans-serif;
  }

  .d-block {
      max-width: 400px;
      max-height: 400px;
      margin-left: auto;
      margin-right: auto;
  }
  
  #firstHomeDiv {
      text-align: center;
      font-family: 'Athiti', sans-serif;
  }